<div class="row">
	<div class="col-md-12">
		<div style="height:400px; overflow-y:auto">
			
			<div class="media" ng-repeat="message in messages">
				<div class="media-body">
					<h4 class="media-heading">{{ message.user.username }}</h4>
					<p>{{ message.body }}</p>
				</div>
			</div>

		</div>
	</div>

	<div class="col-md-12">
		<form action="" ng-submit="createMessage(chatRoom, message)">
			<textarea rows="10" class="form-control" ng-model="message.body" placeholder="Enter your message"></textarea>
			<button class="btn btn-primary">Send</button>
		</form>
	</div>
</div>